/**
 * @file
 * The fonts for our application.
 */	
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

/**
 * The title.
 */
h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: normal;
	font-size: 3em;
	color: #fff;
}
/**
 * Everything else.
 */
body {
	font-family: 'Open Sans', sans-serif;
}