.container {
	padding-left: 125px;
	padding-right: 125px;
}

.jumbotron {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.header {
	background-color: #61c0e7;
}

.longwind {
	background-color: #f4f4f4;
}

.dog {
	background-color: #fff;
}

.likesee {
	background-color: #13c4af;
}